#register {
  width: 100%;
  height: 100%;
  display: flex;
  gap: 2rem;
}

#register header {
  height: 100%;
}

#register header img {
  height: 100%;
  width: 100%;
}

#register section {
  height: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: flex-start;
  gap: 2rem;
}

#register section .header {
  margin-bottom: 1rem;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

#register section .header h3 {
  font-weight: 600;
  opacity: 0.9;
}

#register section .header p {
  font-size: 0.7rem;
  font-weight: 300;
  width: 45%;
}

#register section .header p a {
  text-decoration: none;
  color: var(--blue);
}

#register section .register-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
}

#register section .google-apple-buttons {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

#register section .google-apple-buttons button {
  display: flex;
  align-items: center;
  gap: 1rem;
  padding: 0.2rem 1rem 0.2rem 0.2rem;
  background-color: inherit;
  border: 0;
  outline: 1px solid var(--blue);
  border-radius: 5px;
  cursor: pointer;
}

#register section .google-apple-buttons button span {
  font-size: 1.2rem;
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
}

#register section .google-apple-buttons button label {
  color: var(--blue);
  text-transform: uppercase;
  font-size: 0.9rem;
  font-weight: 600;
}

#register section .google-apple-buttons button:hover {
  background-color: var(--blue);
}

#register section .google-apple-buttons button:hover span {
  background-color: var(--white);
}

#register section .google-apple-buttons button:hover label {
  color: var(--white);
}

#register section .hr {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  width: 100%;
}

#register section .hr hr {
  width: 100%;
  border: 0;
  background-color: var(--lines);
  height: 0.5px;
}

#register section .hr label {
  color: var(--second-color);
  text-transform: uppercase;
  font-weight: 500;
  font-size: 0.9rem;
}

#register section .register-form {
  display: flex;
  flex-direction: column;
  width: 100%;
}

#register section .register-form form {
  display: flex;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

#register section .register-form form > div {
  margin: 0;
}

#register section .register-form form > p {
  font-size: 0.8rem;
  font-weight: 400;
}

#register section .register-form form .signUpBtn {
  font-weight: 700;
}