@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-family: 'Poppins', sans-serif;
}

body {
  margin: 0;
  padding: 0;
  height: 100vh;
  overflow: hidden;
}

#root {
  width: 100%;
  height: 100%;
}

.App {
  width: 100%;
  height: 100%;
}

#root {
  --white: #ffffff;
  --black: #111111;
  --blue: #0079d3;
  --lines: #e5e5e5;
  --second-color: #919191;
  --main-color: #ff4500;
  --background-color: #c6d0d8;
  --search-color: #F6F7F8;
  --second-search-color: #818181;
  --shadow-color: #efefef;
  --vote-color: #dddddd;
  --name-color: #4f4f4f;
  --second-name-color: #d9d9d9;
  --trend-color: #ececec;
  --trend-second-color: #d2d2d2;
  --arrow-color: #00c608;
}